table tr td {
    vertical-align: middle;
}

td button {
    margin: 6px;
}

td button i {
    font-size: 15px;
}

.modal-header {
    background-color: #0d6efd;
    color: #fff;
}

.modal-body form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

}